@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

:root {
   /*========== Colors ==========*/
   --text-color: #000000;
   --bg-color: #282828;

   /*========== Font and typography ==========*/
   --body-font: 'Poppins', sans-serif;
   --normal-font-size: .938rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
   background-color: black;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

nav {
   position: sticky;
   top:0;
   background-color: rgb(245, 245, 245);
   box-shadow:  0 0 15px rgba(0,0,0,0.2);
   border-bottom: 5px solid #028DD1;
   z-index: 50;
   overflow: hidden;
}


.topnav {
   height:120px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}


.topnav .faMenu {
   display: none;
   position:absolute;
   top:50px;
   left:20px;
   cursor: pointer;
   font-size: 20px;
}

.topnav .logo {
   margin-left: 25px;
}



.topnav ul li  {
   display: inline-block;
   padding:10px;
   padding-top: 50px;
   font-weight: 600;
   color: black;
}

.topnav ul li a {
   color: black;
   transition: 300ms ease;
   padding:10px;
   border-radius: 15px;
   text-underline-offset: 10px;
}



.topnav ul li  .active {
   background-color: #028DD1;
   color: white;
   box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.topnav .mainLinks  li a:hover {
   background-color: #028DD1;
   color: white;
   box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.contact ul li:first-child {
   transition: 300ms ease;
   text-underline-offset: 5px;
 }
 
 .contact ul li:first-child:hover {
    text-decoration: underline;
  
 }



 /* @media(max-width: 377px) {

   .contact ul li:nth-child(2) {
     display: none;
   }
 } */
 
 
 .lowerOpacity {
    opacity: 0.5;
 }

.sideNav {
   position: fixed;
   top:0;
   left:0;
   width: 0%;
   height: 100%;
   z-index: 100;
   background-color: white;
   display: flex;
   visibility: hidden;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   box-shadow: 0 0 10px rgba(0,0,0,0.4);
   transition: width 200ms ease-in-out;
   overflow-y: scroll;
   scrollbar-width:thin;
}








.sideNav .closeButton {
   position: absolute;
   top:15px;
   right:15px;
   font-size: 25px;
   cursor: pointer;
   padding:10px;
   background-color: gainsboro;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sideNav .closeButton i {
   color: white;
}

.sideNav .closeButton:hover {
   color: black;
   box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.sideNavActive {
   width: 300px;
   visibility: visible;
}



.sideNav .sideLinks li, a {
   color: black;
   list-style-type: none;
}



.sideNav .sideLinks li a{
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: flex-start;
   gap:30px;
   margin-top: 10px;
   padding:10px;
   padding-inline: 45px;
   font-weight: 600;
   border-radius: 20px;
}

.sideNav li a:hover {
   background-color: #028DD1;
   color: white;
   box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
   z-index: 10; /* Ensure the overlay is on top of everything else */
   display: none; /* Initially hidden */
}

.overlay.activeOverlay {
   display: block; /* Show the overlay when sideNavActive class is present */
}

.heroVideo {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 1000px;
   max-height:1000px;
   object-fit: cover;
   z-index: -10;
   filter: brightness(0.5);
}

.heroSection {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding:20px;
   min-height: 100vh;
}

.heroSection .heroContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 200px;
}

.heroSection .heroContainer h1 {
   color: rgb(255, 255, 255);
   font-size: 2.8rem;
   margin-top: 50px;
   text-align: center;
}

.heroSection .heroContainer h3 {
   color: #028DD1;
   font-size: 0.8rem;
   text-align: center;
   max-width: 400px;
   line-height: 1.7;
   padding:5px;
}

.heroSection .heroContainer button {
   padding:10px 45px;
   background:linear-gradient(to bottom right, rgb(19, 80, 109), rgb(38, 169, 230));
   font-weight: 700;
   outline: none;
   border:none;
   margin-top: 25px;
   cursor: pointer;
   letter-spacing: 1px;
   transition: 300ms ease;
   clip-path: polygon(20% 0%,100% 0%, 80% 100%, 0% 100%);
   filter: brightness(1.5);
}

.heroSection button:hover {
   transform:scale(1.1);
 
}

@media(max-width: 600px) {
   .heroSection {
      padding-left: 25px;
      padding-right: 25px;
   }
}





@media(min-width:900px) {
   .heroSection h1 {
      font-size: 3.2rem;
   }

   .heroSection h3 {
      font-size: 1rem;
   }
}


.top {
   height: 175px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background:goldenrod;
   clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
 }
 .bottom {
   height: 600px;
   width: 100%;
   background-color: black;
   clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
   margin-top: -50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding:30px;
   
 }


.aboutSection {
   min-height:60vh;
   background-color: black;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:space-evenly;
   padding:200px;
   overflow: hidden;
}

.aboutText {
   height:500px;
   width: 100%;
   padding:20px;

}

.top .companyName {
   -webkit-text-stroke: 0.5px #fff;
   letter-spacing: 2px;
   color: transparent;

}


.top h1 {
   color: white;
   font-size: 1.5rem;
}

.bottom p {
   color: rgb(190, 190, 190);
   max-width: 700px;
}



.bottom button {
   padding:10px 25px;
   font-weight: 700;
   outline: none;
   border:none;
   box-shadow: 0 0 20px rgba(0,0,0,0.2);
   margin-top: 35px;
   cursor: pointer;
   letter-spacing: 1px;
   transition: 300ms ease;
   background-color: goldenrod;
   transition: 300ms ease-in-out;
}

.bottom button:hover {
   transform: translateY(-10px);
}

.aboutImage iframe {
   box-shadow:
    -50px -50px 0 -40px goldenrod,
    50px 50px 0 -40px goldenrod;
}

@media(min-width: 750px) {
   .top h1 {
      font-size: 2.5rem;
   }
}

@media(max-width: 1407px) {
   .topnav .mainLinks {
      display: none;
   }

   .topnav .faMenu {
      display: block;
   }

   .aboutSection {
      flex-direction: column;
      padding:20px;
   }

   .aboutSection .aboutImage {
      display: none;
   }
}



@media screen and (min-width: 676px) and (max-width: 1407px) {
   .aboutText {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
 }


 /*==================== REUSABLE CSS CLASSES ====================*/
.serviceContainer {
   width: 100vw;
   margin: 0 auto;
   padding: 3rem 0;
   min-height: 100vh;
   display: grid;
   place-items: center;
   background-color: rgb(245, 245, 245);
   z-index: -10;
}

.serviceContainer h1 {
   font-size: 2.8rem;
   text-transform: uppercase;
   color: rgb(0, 0, 0);
}

.serviceContainer button {
   padding:10px 25px;
   font-weight: 700;
   outline: none;
   border:none;
   box-shadow: 0 0 20px rgba(0,0,0,0.6);
   margin-top: 35px;
   cursor: pointer;
   letter-spacing: 1px;
   transition: 300ms ease;
   background-color: #98ff21;
   transition: 400ms ease-in-out;
   border: 2px solid #98ff21;
}

.serviceContainer button:hover {
   background-color: #282828;

   color: #98ff21;;
}

/*==================== SERVICE CARD ====================*/
.card__container {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;
   width: 100%;
   max-width: 90%;
   margin: 40px auto;
}
.card__bx {
   --bg-clr: #282828;
   --txt-clr: #ffffff;
   --btn-txt-clr: #333333;
   --transition: all 0.5s;

   font-family: 'Poppins', sans-serif;
   height: 450px;
   width: 300px;
   overflow: hidden;
   border-radius: 20px;
   border-top-left-radius: 70px;
   position: relative;
   overflow: hidden;
   background: var(--clr);
   transition: var(--transition);
}
.card__2 {
   --clr: #028DD1;
}
.card__1 {
   --clr: goldenrod;
}
.card__4 {
   --clr: #98ff21;
}

.card__3 {
   --clr: rgb(250, 73, 73);
}
.card__bx .card__data {
   position: absolute;
   inset: 10px;
   border-radius: 10px;
   background: var(--bg-clr);
}
.card__bx .card__data .card__icon {
   position: absolute;
   top: 0;
   left: 0;
   border-bottom-right-radius: 50%;
   height: 140px;
   width: 140px;
   background: var(--clr);
}
.card__bx .card__data .card__icon::before {
   content: '';
   position: absolute;
   bottom: -30px;
   left: 0;
   height: 30px;
   width: 30px;
   border-top-left-radius: 30px;
   background: transparent;
   box-shadow: -5px -5px 0 5px var(--clr);
}
.card__bx .card__data .card__icon::after {
   content: '';
   position: absolute;
   right: -30px;
   top: 0;
   height: 30px;
   width: 30px;
   border-top-left-radius: 30px;
   background: transparent;
   box-shadow: -5px -5px 0 5px var(--clr);
}
.card__bx .card__data .card__icon .card__icon-bx {
   position: absolute;
   inset: 10px;
   border-radius: 10px;
   border-top-left-radius: 50%;
   border-bottom-right-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 60px;
   background: var(--bg-clr);
   color: var(--clr);
}
.card__bx:hover .card__data .card__icon .card__icon-bx {
   background: var(--clr);
   color: var(--txt-clr);
   transition: var(--transition);
}
.card__bx .card__data .card__content {
   position: absolute;
   top: 150px;
   padding: 20px;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 15px;
   color: var(--txt-clr);
}
.card__bx .card__data .card__content h3 {
   font-size: 24px;
   font-weight: 700;
   letter-spacing: 2px;
   text-transform: uppercase;
}
.card__bx .card__data .card__content p {
   font-size: 14px;
   opacity: 0.75;
}
.card__bx .card__data .card__content a {
   display: inline-flex;
   align-self: center;
   padding: 10px 25px;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 600;
   border-radius: 30px;
   border: 2px solid var(--clr);
   color: var(--btn-txt-clr);
   background: var(--clr);
   transition: var(--transition);
}
.card__bx .card__data .card__content a:hover {
   background: transparent;
   color: var(--clr);
}




.galleryContainer {
   display: grid;
   place-content: center;
   background: black;
   padding-bottom: 50px;
   position: relative;
}



.galleryContainer h1 {
   margin-block:50px;
   font-size: 2.8rem;
   color: white;
}




.gallery {
   --_height: 250px; 
   --_gap: .8rem;
 
   --_grid-rows: var(--_height) var(--_height) var(--_height);
   --_height-hover: calc(var(--_height) * 2);
   --_height-not-hover: calc(var(--_height) / 2);
 
   width: 100%;  
   max-width: 1000px;
   display: grid;
   gap: var(--_gap);
}
@media (min-width:720px){
 .gallery {
     grid-template-columns: repeat(3,1fr);
 }
 
}
.gallery>div {
   height: fit-content;
   display: grid;
   grid-template-rows: var(--_grid-rows);
   gap: var(--_gap);
   transition: grid-template-rows 300ms ease-in-out;
}
.gallery>div>article {
   position: relative;
}


.gallery img {
 width: 100%;
 height: 100%;
 object-fit:cover;
 object-position: center;
 border-radius: 5px;
 transition: 200ms ease;
 cursor: pointer;
}

.galleryContainer button {
   padding: 10px 25px;
   width: 200px;
   margin: 25px auto;
   background-color: white;
   color: rgb(0, 0, 0);
   font-weight: 700;
   border: 2px solid white;
   transition: 500ms ease-in-out;
   cursor: pointer;
}
.galleryContainer button:hover {
   background-color: transparent;
   color: rgb(255, 255, 255);
}
.gallery>div:has(>article:nth-child(1):hover) {
   --_grid-rows: var(--_height-hover) var(--_height-not-hover) var(--_height-not-hover);
 
   
}
.gallery>div:has(>article:nth-child(2):hover) {
   --_grid-rows: var(--_height-not-hover) var(--_height-hover) var(--_height-not-hover);

}
.gallery>div:has(>article:nth-child(3):hover) {
   --_grid-rows: var(--_height-not-hover) var(--_height-not-hover) var(--_height-hover);
  
}
.gallery>div>article:hover {
   background-color: rgb(0, 0, 0);
   color: #FFF;
}


.theProcess {
   min-height: 100vh;
   background-color: #000000;
   display: flex;
   justify-content: center;
   align-items: center;
}

.theProcess img {
   object-fit: cover;
   width: 100vw;
   max-width: 800px;
   height: 100%;
}


.topTitle {
   width: 100%;
   height:400px;
   background-color: rgb(0, 0, 0);
   padding:40px;
   clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 50px));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 2.8rem;
   font-weight: 700;
   color: white;
}

.bottomText {
   background-color: #028DD1;
   clip-path: polygon(0 0,100% 50px,100% 100%,0 100%);
   margin-top: -60px;
   height:500px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding:20px;

  
}

.bottomText p {
   font-size: 14px;
   max-width: 700px;
   height:auto;
   font-weight: 500;
}

.bottomText button {
   margin-top: 30px;
   padding: 10px 25px;
   background-color: rgb(0, 0, 0);
   border:2px solid #000000;
   color: rgb(255, 255, 255);
   font-weight: bold;
   transition: 500ms ease;
   box-shadow:  0 0 25px rgba(0, 0, 0, 0.5);
   cursor: pointer;
}

.bottomText button:hover {
   color: black;
   background-color: white;

}


.hidden {
   opacity: 0;
   filter:blur(6px);
   transition: all 1.5s;
 }
 
 
 .show {
   filter:blur(0px);
   opacity: 1;
 }

footer {
   width: 100%;
   height:350px;
   background: black;
   padding:40px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.browseLinks {
   width:50%;
   border-left: 2px solid white;
   height:200px;
   padding-left: 25px;
}

.browseLinks h3 {
   color: white;
   font-size: 1rem;
}


.browseLinks .linkHolder {
   margin-top: 20px;
}


.browseLinks .linkHolder li a {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: flex-start ;
   gap:15px;
   padding-bottom: 5px;
   color: rgb(217, 217, 217);
}

.contactInfo {
   width:50%;
   height:200px;
   padding-right: 25px;
}

.contactInfo h3 {
   color: white;
   font-size: 1rem;
}